img {
    border-radius: 75px;
    animation: bounce 2s infinite;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  body {
    background: linear-gradient(to right, darkgreen, lightgreen);
    font-family: 'Trebuchet MS';
    color: white;
    text-align: center;
  }
  
  a {
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    color: green;
    text-decoration: none;
    box-shadow: 0 4px 8px yellowgreen;
    transition: transform 0.5s ease;
    width: 355px;
    
  }
  
  a:hover {
    color: white;
    background-color: black;
    transform: scale(1.05);
  }
  
  @keyframes bounce {
    40% {
      transform: translateY(-10px);
    }
  
    60% {
      transform: translateY(-5px);
    }
  
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
  }